body{
text-align: center;
background-color: crimson;

}
#hi{
height:190px ;
width: 190px ;
}
#ho{
    height: 190px ;
    width:190px ;
    }
    #h4{
        height: 190px ;
        width:190px ;
        }
        
        